<div class="container">

  <h1>OCR Converter</h1>

  <form action="/ocr" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="100000000" />
    Choose a file to upload: <input name="image" type="file" /><br>
    <input type="submit" value="Upload File" />
  </form>

</div>

<div class="container">
</div>
